body {
    color: #515151; 
    background-color: #EEEEEE; 
    font-size: 20px;
    font-family: sans-serif;
}

.header {
    text-align: center;
}

a {
    color: #0000FF;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav {
    text-align: center;
}

/*
hr.main-separator {
    
}
*/

img.testing {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    max-width: 100%;
}