/*
body {
    color: #515151; 
    background-color: #FFF; 
    font-size: 20px;
    font-family: sans-serif;
    max-width: 55em;
    margin: 1em auto;
}
*/

/*
a {
    color: #0000FF;
    text-decoration: none; 
    font-size: 18px;
    font-weight: bold;
}
*/


/*
nav {
    text-align: center;
}
*/


/* CLASSES ------------------------------------------------------ */
hr.half-width {
    width: 65%;
}

.name-in-the-middle {
    text-align: center;
}

img.kanye-laughing {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    max-width: 100%;
}