body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFF;
}

.div-container {
    display: flex;
    flex-direction: column;
}

.div-container a {
    text-align: center;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    background-color: #fcfcd2;
    transition: .5s;
}

.div-container a:hover {
    color: #000000;
    background-color: #B6D0E2;
}
/*
a:hover {
    color: #0000FF;
    background-color: beige;
}
*/